/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,

/*
--- RESET CSS ---
*/

dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
--- END OF RESET CSS ---
*/

.wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

h1{
    font-size: 5em;
    line-height: 2em;
}

button::-moz-focus-inner {
    border: 0;
  }

button{
    background-color: sandybrown;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}

button:hover{
    background-color: salmon;
}

button:active{
    background-color: sienna;
}

#grid-box{
    height: 640px;
    width: 640px;
    border: slategray solid 3px;
    margin: 40px auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

#grid-box div{
    height: 100%;
    width: 100%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.grid-pixel{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.disableselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge*/
     user-select: none;          /* Non-prefixed version, currently 
                                    not supported by any browser */
  }
  
.disabledrag{
     -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
     user-drag: none;
  }

#color-box{
    font-size: 0;
    background:grey;
    padding: 20px;
    display: inline-block;
  }

#btn-black,
#btn-d-grey,
#btn-grey,
#btn-l-grey,
#btn-white {
      border-radius: 0;
      margin: 0 auto;
      border: 3px solid transparent;
  }

#btn-black{
    background-color: black;
}
#btn-d-grey{
    background-color: dimgrey;
}
#btn-grey{
    background-color: darkgrey;
}
#btn-l-grey{
    background-color: lightgrey;
}
#btn-white{
    background-color: white;
}

button.selected{
    border-color: orange !important;
}